#main-box {
    display: flex;
    align-items: center;
    justify-content: center;
}

#date-selector {
    position: fixed;
    bottom: 50%;
    font-size: 1rem;
    color: black;
    text-align: center;
}

#date-selector select {
    border: none;
    border-radius: 5px;
    padding: 5px;
    background-color: rgb(255, 217, 217);
}

#data-container {
    position: fixed;
    bottom: 1%;
    font-size: 1rem;
    color: black;
    text-align: center;
}