body {
    margin: 0%;
    padding: 0%;
}

select {
    padding: 5px;
}

td,th {
    border: 1px solid #353535;
    text-align: center;
    padding: 5px;
}

table {
    border-collapse: collapse;
    border-spacing: 0px;
    width: 100%;

}

p {
    font-size: 1.2rem;
    font-weight: bold;
}


#pic {
    display: flex;


}
#bar-rander{
    background-color: bisque;

}

#line-rander{
    background-color: bisque;
}

svg {
    width: 100%;
    height: 100%;
}
#svgBarBox{

}
.rect {
    fill:rgb(36,147,110);
    fill-opacity: 1;
    stroke-opacity: 1;
    width: 2px;
}
.mainLine {
    stroke: rgb(32,96,79);
    stroke-width: 2;
    stroke-opacity: 1;
}
.noteLine {
    stroke: rgb(32,96,79);
    stroke-width: .5;
    stroke-opacity: 1;
}

#mul-select-wrapper {
    display: flex;

    
}
.mutiple-wrapper {
    width: 50%;
    padding: 5px;

    
}
#mul-select-table-rander {
    background-color: bisque;
}
