body {
    padding: 2%;

}

select {
    padding: 5px;

}

td,th {
    border: 1px solid #353535;
    text-align: center;
    padding: 5px;
}

table {
    border-collapse: collapse;
    border-spacing: 0px;
    margin-top: 10px;
    width: 100%;

}

hr {
    margin: 1% 0;
}
p {
    font-size: 1.2rem;
    font-weight: bold;
}